body {
    margin: 0;
}
.pad {
    /* margin: 10px; */
    padding: 10px;
}
/* Header */
    header {
        background: #1f2937;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo {
        font-size: 24px;
        color: #f9faf8;
        max-width: 400px;
    }
    .link-container {
        display: flex;
        gap: 50px;
        justify-content: end;
        max-width: 400px;
    }
    .link {
        color: #e5e7eb;
        font-size: 18px;
        text-decoration:none;
    }
/* container 1 */
.container-1 {
    background: #1f2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 80px;
    padding-bottom: 80px;
}
.one-left {
    max-width: 400px;
}
.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    width: 300px;
}
.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}
.sign-up {
    background: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    height: fit-content;
    border-radius: 7px;
    border: solid #f9faf8;
}
.one-right {
    max-width: 400px;
    min-width: 300px;
}
/* container 2 */
.container-2 {

}
.info {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 25px;
    padding-bottom: 25px;
}
.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.box {
    text-align: center;
    width: 140px;
}
.info-box {
    width: 130px;
    height: 130px;
    background: white;
    border: #3882f6 solid;
    border-radius: 25px;

}
.text {
    font-size: 18px;
}
/* container 3 */
.container-3 {
    background: #e5e7eb;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    flex-wrap: wrap;
}
.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    max-width: 750px;
}
.quote-author {
    display: flex;
    justify-content: end;
    width: 750px;

}
/* container 4 */
.container-4 {
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-box {
    background: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 100px;
    border-radius: 15px;
    flex-wrap: wrap;
}
.top {
    color: #f9faf8;
    font-weight: bold;
    font-size: 20px;
    
}

/* footer */
footer {
    background: #1f2937;
    height: 80px;
}